<!DOCTYPE html>
<html th:replace="layouts/layout :: layoutFragment(~{::main})" lang="ko" xmlns:th="https://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" >

<main>
    <div class="page-section mt-5">
        <div class="container" >
            <p style="font-size: xx-large">주문하기</p>
            <div class="row align-items-center">
                <div class="col-lg-6 mr-5" style="border-top: solid 1px; border-bottom: solid 1px; padding: 14px;">
                    <form action="">
                        <div>
                            <p>배송정보</p>
                        </div>
                        <div>
                            <label for="city">주소</label>
                            <input type="text" id="city" class="form-control">
                        </div>
                        <div>
                            <label for="street">도로명</label>
                            <input type="text" id="street" class="form-control">
                        </div>
                        <div>
                            <label for="zipcode">우편번호</label>
                            <input type="text" id="zipcode" class="form-control">
                        </div>
                    </form>
                </div>

                <div class="col-lg-5" style="border: solid 3px; padding: 14px;">
                    <p style="border-bottom: solid 3px;">주문정보</p>
                    <div class="row" style="padding: 20px;">
                        <img src="../assets/img/product/vantaBlack.jpg" alt="" width="200">
                        <p style="margin: 10px;">vanta black/1개</p>
                    </div>
                    <p style="border-top: solid 3px;"></p>
                    <div class="row" >
                        <p class="col-lg-9">총 상품금액</p>
                        <p class=""> 30,000원</p>
                    </div>
                    <div class="row ">
                        <p class="col-md-8" style="font-weight: bold;">총 결제금액</p>
                        <p style="font-weight: 900; font-size: x-large; padding-left:5px; color: darkorange;">30,000원</p>
                    </div>
                    <p style="border-top: solid 3px;"></p>
                    <div class="col-sm-12" style="padding:0px">
                        <p style="font-weight: bold; font-size: 15px;">이용약관 및 개인정보 제3자 제공사항에 대해 확인하였으며 결제에 동의합니다.</p>
                        <p>개인정보 수집/이용동의 <a href="">보기</a> </p>
                        <p>개인정보 제3자 제공 동의 <a href="">보기</a> </p>
                    </div>
                    <button ondblclick="" class="btn btn-primary col-lg-12">구매하기</button>
                </div>
            </div>

        </div>

    </div>
</main>