<!DOCTYPE html>
<html th:replace="layouts/layout :: layoutFragment(~{::main})" lang="ko" xmlns:th="https://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" >

<main>
    <div class="page-section mt-5">
        <div class="container" >
            <p style="font-size: xx-large">판매정보</p>
            <div class="row align-items-center">
                <table class="table">
                    <tr>
                        <td>제품이름</td>
                        <th>제품사진</th>
                        <th>재고</th>
                        <th>등록일</th>
                        <th>문의내역가기</th>
                        <th>수정하기</th>
                    </tr>
                    <tr th:each="sell : ${sellList}">
                        <td th:text="${sell.getPdct_name()}"></td>
                        <td th:text="패스"></td>
                        <td th:text="${sell.getPdct_quantity()} +'개'"></td>
                        <td th:text="${sell.getPdct_date()}"></td>
                        <td><a th:href="@{/item/qna/{pdct_code}/list(pdct_code=${sell.getPdct_code()})}">답변하러가기</a></td>
                        <td>
                            <a  href="#"  class="btn-danger">주문취소</a>
                        </td>
                    </tr>
                </table>
            </div>

        </div>

    </div>

    <script th:inline="javascript">
        function orderCancel(order_id){
            if (confirm("주문을 취소하시겠습니까?") == true){
                var cancelForm = document.createElement("form");
                cancelForm.setAttribute("method", "post");
                cancelForm.setAttribute("action", "/orders/" + order_id + "/cancel");
                document.body.appendChild(cancelForm);
                cancelForm.submit();
            }

        }
    </script>
</main>