<!DOCTYPE html>
<html lang="en" th:replace="layouts/layout :: layoutFragment(~{::main})" xmlns:th="https://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<main>
    <div class="page-section mt-5" >
        <div class="container">
            <div class="text-left wow fadeInUp ml-5 pl-5">
                <div class="subhead">Why Choose Us</div>
                <h2 class="title-section">Your <span class="marked">Comfort</span> is Our Priority</h2>
            </div>

            <div class="row mt-5 text-center">
                <div class="col-lg-6 py-3 wow fadeInUp">
                    <div class="display-3">
                        <img src="/img/product/vantaBlack.jpg" width="350" alt="">
                    </div>
                </div>
                <div class="col-lg-6 py-3 text-left">
                    <div class="features pt-4 pb-2">
                        <b>Vanta black</b>
                        <h5 class="pt-5"><b>23,000원</b></h5>
                    </div>
                    <h5 class="pt-3 mb-3" style="font-size: 15px;">배송정보</h5>
                    <ul style="list-style: none;" class="pl-0">
                        <li style="float:left;">
                            <div style="width: 100px;">배송비</div>
                        </li>
                        <li>
                            <div style="font-size: 10px;">
                                <div>해당 브랜드의 제품은 무료배송됩니다.</div>
                                <div>제주도를 포함한 도서/산간지역은 추개 배송비 3,000원</div>
                            </div>
                        </li>
                    </ul>
                </div>

            </div>
        </div> <!-- .container -->
    </div> <!-- .page-section -->

</main>
</html>