<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">

    <th:block th:fragment="headerFragment">
        <!--헤더 코드-->
        <header>
            <nav class="navbar navbar-expand-lg navbar-light navbar-float">
                <div class="container">
                    <a href="/" class="navbar-brand"><span class="text-primary">GOOD</span> Shop</a>

                    <button class="navbar-toggler" data-toggle="collapse" data-target="#navbarContent" aria-controls="navbarContent" aria-expanded="false" aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span>
                    </button>

                    <div class="navbar-collapse collapse" id="navbarContent">
                        <ul class="navbar-nav ml-lg-4 pt-3 pt-lg-0">
                            <li class="nav-item">
                                <a href="/" class="nav-link">Home</a>
                            </li>
                            <li class="nav-item">
                                <a href="/item" class="nav-link">Item</a>
                            </li>
                            <li class="nav-item">
                                <a href="#" id="upload" th:href="'javascript:upload('+${session.size()}+')'" class="nav-link">Upload</a>
                            </li>
                            <li class="nav-item">
                                <a href="#" th:href="'javascript:contact('+${session.size()}+')'" class="nav-link">Contact</a>
                            </li>
                        </ul>

                        <div class="ml-auto row">

                            <a href="/login" th:if="${session.loginUser == null }" class="btn btn-outline rounded-pill">로그인</a>
                            <a th:href="@{/users}" th:if="${session.loginUser != null}" class="btn btn-outline rounded-pill">마이페이지</a>
                            <form th:action="@{/logout}" method="post" th:if="${session.loginUser != null}">
                                <button type="submit"  class="btn btn-outline rounded-pill">로그아웃</button>
                            </form>
                        </div>
                    </div>
                </div>
            </nav>
        </header>

        <script th:inline="javascript">
            /*<![CDATA[*/
            function upload(loginUser){
                var uploadPage = "http://localhost:8080/item/new";

                if(loginUser == 0){
                    alert("로그인 후 이용해주세요");
                }else if(loginUser > 0){
                    location.href="http://localhost:8080/item/new";
                }
            }

            function contact(loginUser){
                var uploadPage = "http://localhost:8080/item/new";

                if(loginUser == 0){
                    alert("로그인 후 이용해주세요");
                }else if(loginUser > 0){
                    location.href="http://localhost:8080/item/qna";
                }
            }
            /*]]*/
        </script>

    </th:block>
</html>