<!DOCTYPE html>
<html th:replace="layouts/layout :: layoutFragment(~{::main})" lang="ko" xmlns:th="https://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" >
<main>
  <div class="page-section bg-light " style="margin-top: 90px;">
    <div class="container">
      <div class="owl-carousel wow fadeInUp" id="testimonials">

        <div th:each="product:${items}">
          <div class="item">
            <div class="row align-items-center">
              <div class="col-md-6 py-3">
                <div class="testi-image">
                  <img th:src="|/images/${product.getPdct_image()}|" width="300" alt="" >
                </div>
              </div>
              <div class="col-md-3 py-3">
                <div class="testi-content">
                  <p th:text="${product.getPdct_detail()}"></p>
                  <div class="entry-footer">
                    <strong th:text="${product.getPdct_name()}"></strong>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        </div>

      </div>
    </div> <!-- .container -->
  </div> <!-- .page-section -->


  <div class="page-section">
    <div class="container">
      <div class="text-center wow fadeInUp">
        <div class="subhead">Why Choose Us</div>
        <h2 class="title-section">Your <span class="marked">Comfort</span> is Our Priority</h2>
        <div class="divider mx-auto"></div>
      </div>

      <div class="row mt-5 text-center">
        <div th:each="product:${items}">
          <div class="col-lg-4 py-3 wow fadeInUp">
            <div class="display-3">
              <img th:src="|/images/${product.getPdct_image}|" width="350" alt="">
            </div>
            <div class="text-left">
              <h5 ><b><u></u></b></h5>
              <a th:href="@{/item/} + ${product.getPdct_code()}" th:text="${product.getPdct_name()}">name</a>
              <p th:text="${product.getPdct_price()} + 원"></p>
              <div class="freeShip">무료배송</div>
            </div>
          </div>
        </div>
      </div>
    </div> <!-- .container -->
  </div> <!-- .page-section -->
</main>