<!DOCTYPE html>
<html th:replace="layouts/layout :: layoutFragment(~{::main})" lang="ko" xmlns:th="https://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" >


<main>
    <div class="page-section">
        <div class="container text-center">
            <h2 class="login"><b>로그인</b></h2>
            <form th:action="@{/login}"   th:object="${loginForm}" method="post">
                <div class="row mb-3">
                    <div class="col-sm-5 login-id" th:if="${#fields.hasGlobalErrors()}">
                        <p class="field-error" th:each="err:${#fields.globalErrors()}" th:text="${err}"></p>
                    </div>
                    <div class="col-sm-5 login-id">
                        <input type="text" th:field="*{userId}" class="form-control" placeholder="아이디">
                        <div class="field-error" th:errors="*{userId}"></div>
                    </div>
                    <div class="col-sm-5 login-password">
                        <input type="password" th:field="*{userPasswd}"  class="form-control" placeholder="비밀번호">
                        <div class="field-error" th:errors="*{userPasswd}"></div>
                    </div>
                    <div class="col-sm-5 login-btn">
                        <button type="submit" class=" btn btn-primary btn-block">로그인하기</button>
                    </div>
                    <div class="col-sm-5 login-btn mt-4">
                        <p>SNS 계정 로그인하기</p>
                        <img src="/img/login/kakaoLogin.png" class="mr-3" width="50" alt="">
                        <img src="/img/login/naverLogin.png" class="mr-3" width="50" alt="">
                        <img src="/img/login/googleLogin.png" class="mr-3" width="50" alt="">
                    </div>
                    <div class="col-sm-5 join">
                        <a href="/join"><h4>간편 회원가입</h4></a>
                    </div>
                </div>
            </form>
        </div>
    </div>
    </div>

    <div class="page-section client-section">
        <div class="container-fluid">
            <div class="row row-cols-2 row-cols-md-3 row-cols-lg-5 justify-content-center">
                <div class="item">
                    <img src="/img/clients/airbnb.png" alt="">
                </div>
                <div class="item">
                    <img src="/img/clients/google.png" alt="">
                </div>
                <div class="item">
                    <img src="/img/clients/stripe.png" alt="">
                </div>
                <div class="item">
                    <img src="/img/clients/paypal.png" alt="">
                </div>
                <div class="item">
                    <img src="/img/clients/mailchimp.png" alt="">
                </div>
            </div>
        </div> <!-- .container-fluid -->
    </div> <!-- .page-section -->

</main>